@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
  font-family: "Roboto";
  color: #2b2a2a;
  background-color: #fcfcfc;
}

a {
  text-decoration: unset;
}

.blue-text {
  color: #5e62c7;
}

.fs-7 {
  font-size: 0.75rem;
}

.register-container {
  height: 40rem;
  width: 40%;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.login-container {
  height: 33rem;
  width: 40%;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.form-floating {
  margin-right: 15%;
  margin-left: 15%;
}

.form-btn {
  background: linear-gradient(90deg, #5e62c7 13.33%, #93ecdd 109.82%);
  border-radius: 25px;
  width: 70%;
  height: 50px;
  border: 0px;
}

.out-btn {
  border: 2px solid #c4c4c4;
  background: unset;
  box-sizing: border-box;
  border-radius: 25px;
  width: 70%;
  height: 50px;
}
.row {
  margin-right: none;
}

.google-btn {
  background: white;
  width: 70%;
  height: 50px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 2px rgb(69, 70, 69, 0.25));
  border-radius: 5px;
}

.terms {
  margin: auto;
  width: 50%;
}

@media (max-width: 1200px) {
  .register-container,
  .login-container {
    width: 70%;
  }
  .form-floating {
    margin-right: 7.5%;
    margin-left: 7.5%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .register-container,
  .login-container {
    width: 90%;
  }
  .form-floating {
    margin-right: 5%;
    margin-left: 5%;
  }
  .terms {
    margin: auto;
    width: 90%;
  }
}
